body {
    font-size: 13px;
    background-color: hsl(260, 100%, 95%);
}

.barlow-semi-condensed-medium {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-family: "Barlow Semi Condensed", serif;
    margin: 0;
}

h2.author-name {
    margin: 0;
    font-size: 3.5vw;
}

h3.verified-graduate {
    margin: 0;
    font-size: 2.8vw;
}

p {
    margin: 0;
    font-size: 3.1555vw;
}

.grid-container {
    max-width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 35px 45px 25px hsl(0, 0%, 81%);
}

.testimonial-author {
    height: 60px;
    display: flex;
    gap: 25px;
}

.image-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

img {
    width: 42px;
    height: 42px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.author-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.daniel-clifford {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.daniel-clifford img {
    outline: 2px solid hsl(264, 82%, 80%);
}

.daniel-clifford .verified-graduate {
    color: hsl(214, 17%, 92%);
}

.jonathan-walters {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.jonathan-walters .verified-graduate {
    color: hsl(0, 0%, 81%);
}

.jeanette-harmon {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.patrick-abrams {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.patrick-abrams img {
    outline: 2px solid hsl(263, 55%, 52%);
}

.kira-whittle {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.kira-whittle .verified-graduate {
    color: hsl(224, 10%, 45%);
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 640px) {
    .testimonial-author {
        height: 60px;
    }
}

@media screen and (min-width: 768px) {
    img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 834px) {
    p {
        font-size: 1.5em;
    }
    h1 {
        font-size: 26px;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "daniel-clifford daniel-clifford" "jonathan-walters jeanette-harmon" "patrick-abrams patrick-abrams" "kira-whittle kira-whittle";
        margin: 100px auto;
    }
    h2.author-name {
        font-size: 22.3167px;
    }
    h3.verified-graduate {
        font-size: 15.2333px;
    }
    .daniel-clifford {
        grid-area: daniel-clifford;
    }
    .jonathan-walters {
        grid-area: jonathan-walters;
    }
    .jeanette-harmon {
        grid-area: jeanette-harmon;
    }
    .patrick-abrams {
        grid-area: patrick-abrams;
    }
    .kira-whittle {
        grid-area: kira-whittle;
    }
}

@media screen and (min-width: 1600px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "daniel-clifford daniel-clifford jonathan-walters kira-whittle" "jeanette-harmon patrick-abrams patrick-abrams kira-whittle";
    }
}
